{% extends 'base.html'%}
{% load bootstrap4 %}
{% block body %}
<div  class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Modulation</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form  method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="card-body">
        <small id='totalrente' class="form-text text-muted"></small>
      </div>
    
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary">save</button>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}

